@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body{
  font-family: "DM Sans",Arial, Helvetica, sans-serif;
}

.dmsans{
  font-family: "DM Sans";
}

.card5 {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/16/13/06/new-york-1745089__340.jpg");
}